@import "./libs/normilize/normilize.css";
@import "./fonts.css";
@import "./libs/owl/owl.carousel.min.css";
@import "./libs/owl/owl.theme.default.min.css";
@import "./libs/fancyBox/jquery.fancybox.min.css";


.wrapper {
	width: 100%;
	max-width: 1150px;
	margin: 0 auto;
	padding: 0 20px;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 322px;
	height: 53px;
	background: linear-gradient(90.4deg, #EEB67A 17.3%, #BC8B56 106.71%);
	box-shadow: 0px 4px 30px rgba(201, 169, 148, 0.41);
	border-radius: 6px;
    font-family: 'Mirza';
	font-size: 19px;
	line-height: 19px;
	letter-spacing: 1.65px;
	color: #F7EEEE;
	transition: 0.3s ease;
}

.btn-big {
	max-width: 292px;
	height: 75px;
}

.btn-nobg {
	background: none;
	border: 1px solid #E8B176;
	color: #ffffff;
	box-shadow: none;
}

.btn-nobg:hover {background-color: #E8B176;}

.btn-callback {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 167px;
	height: 46px;
	font-family: 'Roboto-Regular';
	font-size: 20px;
	line-height: 20px;
	color: #C9A994;
	border-top: 1px solid #C9A994;
	border-bottom: 1px solid #C9A994;
}


/* banner */

.banner-wrapper {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

	/* header */

	header {padding: 14px 0 48px;}

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 14px;
	}

	nav a:not(.btn) {
		font-family: 'Roboto-Regular';
		font-size: 16px;
		line-height: 16px;
		color: #FFFCFB;
		transition: 0.3s ease;
	}

	nav a:not(.btn):hover {color: #EEB67A;}
	
	nav a:not(:last-child) {margin-right: 5px;}

	.header-bottom,
	.header-info,
	.header-info-item,
	.banner-list,
	.banner-buttons {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	header .logo {
		width: 100%;
		max-width: 96px;
		margin-right: 28px;
		padding-right: 27px;
		border-right: 1px solid #C9A994;
	}

	.logo img {width: 100%;}

	.header-info {
		width: 100%;
		padding-bottom: 13px;
	}

	.header-info-item {margin-right: 32px;}

	.header-info-item img{
		width: 100%;
		margin-right: 12px;
	}

	.header-info-item-link img {max-width: 23px;}
	.header-info-item-tel img {max-width: 17px;}

	.header-info-item span {
		font-family: 'Roboto-Regular';
		font-size: 14px;
		line-height: 14px;
		color: #C9A994;
	}

	.header-info-item-tel span {
		font-size: 20px;
		line-height: 20px;
	}

	.banner {padding: 0 0 379px;}

	h1 {
		margin-bottom: 28px;
		font-family: 'Oranienbaum';
		font-size: 71px;
		line-height: 82px;
		background: -webkit-linear-gradient(#EEB67A, #BC8B56);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.banner-subtitle {
		margin-bottom: 45px;
		font-family: 'Roboto-Regular';
		font-size: 31px;
		line-height: 37px;
		color: #F6EEEE;
	}

	.banner-list {padding-bottom: 83px;}

	.banner-list-item {
		position: relative;
		padding-left: 18px;
		font-family: 'Roboto-Regular';
		font-size: 16px;
		line-height: 19px;
		color: #C3BCB8;
	}

	.banner-list-item::before,
	.banner-list-item::after {
		content: '';
		position: absolute;
		display: block;
	}

	.banner-list-item::before {
    left: 0px;
    top: 3px;
		width: 12px;
		height: 12px;
		border: 1px solid #C9A994;
		border-radius: 50%;
	}

	.banner-list-item::after {
		left: 3px;
		top: 6px;
		width: 6px;
		height: 6px;
		background-color: #C9A994;
		border-radius: 50%;
	}

	.banner-list-item:not(:last-child) {margin-right: 29px;}

	.banner-buttons a:nth-child(1) {margin-right: 27px;}


/* founder styles */

.founder {
	position: relative;
	padding: 186px 0 398px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

	.founder-cnt {
    width: 100%;
    max-width: 971px;
    margin: 0 auto;
    padding: 64px 121px 82px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	}

	.founder-title {
		position: relative;
		z-index: 2;
		margin-bottom: 4px;
		font-family: 'Roboto-Medium';
		font-size: 22px;
		line-height: 26px;
		color: #423E3C;
	}

	.founder-subtitle {
		position: relative;
		z-index: 2;
		margin-bottom: 23px;
		font-family: 'Roboto-Light';
		font-size: 18px;
		line-height: 21px;
		color: #423E3C;
	}

	.founder-text {
		position: relative;
		z-index: 2;
		width: 100%;
		max-width: 570px;
		margin-bottom: 12px;
	}

	.founder-text p {
		font-family: 'Roboto-Regular';
		font-size: 18px;
		line-height: 21px;
		color: #423E3C;
	}

	.founder-text p span {font-family: 'Roboto-Bold';}

	.founder-text p:not(:last-child) {margin-bottom: 22px;}

	.founder-more {
		position: relative;
		z-index: 2;
		display: block;
		margin-bottom: 61px;
		font-family: 'Roboto-Light';
		font-size: 16px;
		line-height: 19px;
		text-decoration: underline;
		color: #423E3C;
	}

	.founder-more:hover,
	.portfolio-link:hover {text-decoration: none;}

	.founder-buttons {
		position: relative;
		z-index: 2;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	.founder-buttons .btn {margin-right: 38px;}

	.portfolio-link {
    font-family: 'Mirza';
    font-size: 19px;
    line-height: 23px;
    letter-spacing: 2px;
    text-decoration: underline;
    color: #C9A994;
	}

	.founder-img {
		position: absolute;
		z-index: 1;
		bottom: 0;
		right: 0;
		width: 100%;
		max-width: 982px;
	}

	.founder-img img {width: 100%;}



/* about styles */


.about-wrapper {
	padding: 145px 0 115px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

	.title {
		margin-bottom: 66px;
		font-family: 'Roboto-Regular';
		font-size: 70px;
		line-height: 82px;
		text-align: center;
		color: #F6EEEE;
	}

	.about-list{
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
		width: 100%;
		max-width: 1054px;
		margin: 0 auto;
	}

	.about-column {
		display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 265px;
	}

	.about-column-2 {
		max-width: 524px;
		padding: 0 15px;
	}

	.about-column-4 {
		max-width: 100%;    
		margin-top: 51px;
	}

	.about-column-4 .about-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    max-width: 285px;
    margin: 0 auto;
    text-align: center;
	}

	.about-column-4 .about-item-img {
		max-width: 100%;
    min-height: 0;
	}

	.about-column-2 img {width: 100%;}

	.about-item-img {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: 151px;
		min-height: 99px;
	}

	.about-item-number {
		position: absolute;
    font-family: 'Oranienbaum';
		font-size: 90px;
		line-height: 90px;
		color: #C9A994;
	}

	.about-item p {
		padding-left: 37px;
		font-family: 'Roboto-Light';
		font-size: 18px;
		line-height: 21px;
		color: #F6EEEE;
	}

	.about-column-4 .about-item p{
		padding-left: 0;
    margin-left: -18px;
    margin-top: -17px;
	}

	.about-column-1,
	.about-column-3 {padding-top: 50px;}
	.about-column-1 .about-item:not(:last-child),
	.about-column-3 .about-item:not(:last-child) {margin-bottom: 69px;}


	.gallery .owl-dots {
		position: absolute;
		bottom: 16px;
		left: 0;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.gallery .owl-dot {
		width: 100%;
		max-width: 100px;
		height: 7px;
		border-radius: 4px;
		border: 1px solid #EEB67A !important;
	}

	.gallery .owl-dot:not(:last-child) {margin-right: 17px;}

	.gallery .owl-dot.active {
		border: 1px solid transparent !important;
		background: linear-gradient(90.95deg, #EEB67A 17.3%, #BC8B56 106.71%);
	}

	.gallery .owl-dot span {display: none;}


/* helped styles */

.helped {
	padding:151px 0 113px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

	.helped .title {
		margin-bottom: 93px;
		font-family: 'Oranienbaum';
		color: #423E3C;
	}

	.helped-list {
		display: flex;
		align-items: flex-start;
		justify-content: space-around;
		flex-flow: row wrap;
		margin-bottom: 45px;
		padding: 56px 65px 5px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 8px;
		box-shadow: 0px 23px 26px rgba(0, 0, 0, 0.09);
	}

	.helped-item {
		width: 100%;
		max-width: 190px;
		max-height: 139px;
		overflow: hidden;
		margin: 0 10px 51px;
		box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.09);
	}

	.helped p {
		font-family: 'Roboto-Regular';
		font-size: 25px;
		line-height: 29px;
		text-align: center;
		color: #423E3C;
	}

/* order styles */


.order-section {
	padding: 111px 0 32px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

	.order-text {
		font-family: 'Oranienbaum';
		text-align: center;
		color: #FFFFFF;
	}
	.order-text-s {
		margin-bottom: 13px;
		font-size: 35px;
		line-height: 40px;
	}
	.order-text-xs {
		font-size: 18px;
		line-height: 21px;
	}
	.order-text-l {
		margin-bottom: 24px;
		font-size: 51px;
		line-height: 59px;
	}
	.order-text-m {
		margin-bottom: 62px;
		font-size: 40px;
		line-height: 46px;
	}

	.order-section .btn {margin: 0 auto 62px;}



/* contacts styles */

.contacts {position: relative;}

	.contacts .map,
	.contacts .map iframe {width: 100% !important;}

	.contacts-item {
		position: absolute;
		top: 50%;
		left: 405px;
		transform: translateY(-50%);
		width: 100%;
		max-width: 475px;
		padding: 36px 53px 45px 63px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.09);
	}

	.contacts-title{
		margin-bottom: 15px;
		font-family: 'Oranienbaum';
		font-size: 30px;
		line-height: 35px;
		color: #423E3C;
	}

	.contacts-link {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		margin-bottom: 15px;
		font-family: 'Roboto-Regular';
		font-size: 20px;
		line-height: 23px;
		color: #423E3C;
	}

	.contacts-link-img {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 29px;
		min-width: 29px;
		margin-right: 10px;
	}

	.social-icons {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
	}

	.social-icons a:not(:last-child) {margin-right: 10px;}

	.contacts-logo {
		position: absolute;
		top: 69px;
		right: 60px;
	}






.popup-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	padding: 15px;
	opacity: 0;
	z-index: -5;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.4s ease;
}

.popup-wrapper.active {
	opacity: 1;
	z-index: 5;
}

.popup-layout {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 6;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding: 40px;
	overflow-y: scroll;
	background: rgba(0, 0, 0, 0.1);
}


.popup-layout::-webkit-scrollbar {width: 0px;}
 
.popup-layout::-webkit-scrollbar-track {box-shadow: inset 0 0 0px #ffffff;}

.popup-layout::-webkit-scrollbar-thumb {background-color: transparent;}


.popup {
  position: relative;
  width: 100%;
}


#founderMore .popup{
	max-width: 1218px;
	padding: 75px 0 71px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
	box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.09);
}

.popup-text {
	width: 100%;
	max-width: 526px;
	margin: 0 auto 16px;
	font-family: 'Roboto-Regular';
	font-size: 18px;
	line-height: 21px;
	color: #423E3C;
}

.popup-text p:not(:last-child) {margin-bottom: 21px;}

.founder-popup-img {
	width: 100%;
	max-width: 226px;
	margin: 0 auto;
}

.popup-close {
	position: absolute;
	cursor: pointer;
	top: 22px;
	right: 68px;
	width: 100%;
	max-width: 40px;
}

.popup-close img {width: 100%;}